<configuration scan="false" scanPeriod="30 seconds" debug="false">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.out</target>
		<encoder>
			<pattern>%-5level [%date] %logger{0}:%L -> %msg %rootException %n</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>server.log</file>

		<!-- only keep 3 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>server.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>1MB</maxFileSize>
		</triggeringPolicy>

		<encoder>
			<pattern>%-5level [%date] %logger{0}:%L -> %msg %rootException %n</pattern>
		</encoder>
	</appender>


	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${STRIDE_LOG_DIR}/stride.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${STRIDE_LOG_DIR}/stride.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%-5level [%date] %logger{0}:%L -> %msg %rootException %n</pattern>
		</encoder>
	</appender>


	<logger name="com.lin.stride" level="INFO">
		<appender-ref ref="FILE" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="ROLLING" /> -->
	</root>


</configuration>